.App {
  text-align: center;
}

.content {
  width: 100%;
  height: 300px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.content-holder {
  display: flex;
  flex-direction: column;
}

.singleColumn {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.column1 {
  width: 20px;
  background-color: rgb(37, 99, 235);
}
.column2 {
  width: 30px;
  background-color: rgb(250, 204, 21);
}
.column3 {
  width: 40px;
  background-color: rgb(21, 128, 61);
}
.column4 {
  width: 50px;
  background-color: rgb(220, 38, 38);
}
.column5 {
  width: 60px;
  background-color: rgb(168, 85, 247);
}

.firstColumnPlaceholder {
  padding-top: 100px;
  padding-bottom: 100px;
}
